# Secrets
.env

# Environments
.venv/
venv/

# Python Cache
**/__pycache__/
*.py[cod]
conversations_history.json

# IDEs and OS files
.DS_Store
.vscode/

# Graphify files
graphify-out/

# Claude files
.claudeignore
